In [1]:
l=['a:100','b:200','c:300']
d={}
m=[]
for a in l:
    m+=a.split(':')
print(m)
for b in range(len(m)):
    if b%2==0:
        d[m[b]]=int(m[b+1])
print(d)

['a', '100', 'b', '200', 'c', '300']
{'a': 100, 'b': 200, 'c': 300}

In [3]:
l=['a:100','b:200','c:300']
d={}
for word in l:
    res=''
    g=''
    for ch in word:
        if ch==':':
            word.replace(':','')
        elif ch.isalpha():
            res+=ch
        else:
            g+=ch
    d[res]=int(g)
print(d)

{'a': 100, 'b': 200, 'c': 300}

In [1]:
a='b:10'
a.split(':')

['b', '10']

In [2]:
s='1222311122'
c=1
l=[]
for x in range(len(s)-1):
    if s[x]==s[x+1]:
        c+=1
    else:
        l.append((c,int(s[x])))
        c=1
l.append((c,int(s[x])))
for i in l:
    print(i, end=' ')

(1, 1) (3, 2) (1, 3) (3, 1) (2, 2)

In [1]:
l={'a':[10,20],'b':[30,40]}
for k,v in l.items():
    if k=='a':
        print(v[-1])

20

In [1]:
l={'a':{'d':1,'e':2},'b':{'m':11,'y':22}}
x=input('enter key')
y=input('enter sub-dictionary key')
for k,v in l.items():
    if x==k:
        if y in v:
            print(v[y])
            break
        else:
            print('no')

1

In [31]:
l={'a':{'d':1,'e':2},'b':{'m':11,'y':22}}
for k,v in l.items():
    if 'b' in l:
      print(k)
      break

a

In [1]:
d=[{'service':'aws'},{'service':'azure'},{'os':'linux'},{'os':'windows'}]
g=[]
p={}
for x in d:
    for k,v in x.items():
        if k not in g:
            g.append(k)
            p[k]=[v]
        else:
            p[k]+=[v]
print(p)

{'service': ['aws', 'azure'], 'os': ['linux', 'windows']}

In [2]:
a=['kimar','sonu','somu','ramu','raju']
d={}
k=[]
for x in a:
    k.append(x[0])
for c in k:
    if c not in d:
        d[c]=1
    else:
        d[c]+=1
print(d)

{'k': 1, 's': 2, 'r': 2}

In [1]:
import copy

# Original list
original_list = [1, 2, [3, 4], 5]

# Shallow copy
shallow_copy = original_list.copy()

# Deep copy
deep_copy = copy.deepcopy(original_list)

# Modify the original list
original_list[2][0] = 99

# Print all three lists
print(original_list)   # Output: [1, 2, [99, 4], 5]
print(shallow_copy)    # Output: [1, 2, [99, 4], 5]
print(deep_copy)       # Output: [1, 2, [3, 4], 5]

[1, 2, [99, 4], 5]
[1, 2, [99, 4], 5]
[1, 2, [3, 4], 5]

In [1]:
n=1
l={}
c=0
s=int(input())
while n!=s:
    if n>1:
        for x in range(2,n//2+1):
            if n%x==0:
                break
        else:
            c+=1
            l[n]=c
    n+=1
print(max(l))
print(min(l))

97
2

In [22]:
import numpy as np
id_password=np.array([[1,4321],[2,1234],[3,4567]])
f=id_password[:,1:]
f

array([[4321],
       [1234],
       [4567]])

In [23]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df.drop('B',axis=1,inplace=True)
df['password']=f
df

   A  password
0  1      4321
1  2      1234
2  3      4567

In [17]:
df

   A
0  1
1  2
2  3

In [3]:
from functools import reduce
def ram(x,y):
    return x if x>y else y
f=reduce(ram,[1,2,3,4])
f

120

In [6]:
def ram(n):
    return n*2

f=map(ram,[1,2,3,4])
list(f)

[2, 4, 6, 8]

In [15]:
def m():
    x=200
    print(x)
    def inner():
        nonlocal x
        x=300
        print(x)
    inner()
    print(x)

m()
x=100
print(x)

200
300
300
100

In [35]:
import pandas as pd

data=pd.DataFrame([[1,'madhu',9876],[2,'sab',5678]],columns=['id','name','pin'],in)
l=[[3,'hari',1122],[4,'ram',3322]]
s={'id': 4, 'name': 'Dave', 'pin': 40}
m=data.append(s,ignore_index=True)
m
data.set_index('id',inplace=True)
data['name']

C:\Users\boyam\AppData\Local\Temp\ipykernel_11756\4281127193.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  m=data.append(s,ignore_index=True)

id
1    madhu
2      sab
Name: name, dtype: object

In [38]:
f='madhu'
isinstance(f,list)

False

In [1]:
d={'ram':4.0,'raj':4.0,'vishnu':2.34,'balu':5.5,'damu':1.0}
d1={k:v for k,v in sorted(d.items())}
d1=dict(sorted(d1.items(), key=lambda x: x[1]))
d1

{'damu': 1.0, 'vishnu': 2.34, 'raj': 4.0, 'ram': 4.0, 'balu': 5.5}

In [2]:
d={'ram':4.0,'raj':4.0,'vishnu':2.34,'balu':5.5,'damu':1.0}
d1=dict(sorted(d.items()))
l=sorted(list(d1.values()))
f={}
for x in range(len(l)):
    for k,v in d1.items():
        if l[x]==v and k not in l:
            f[k]=v
            l[x]=k
            break
f

{'damu': 1.0, 'vishnu': 2.34, 'raj': 4.0, 'ram': 4.0, 'balu': 5.5}

In [1]:
students = [{'name': 'Alice', 'age': 20},{'name': 'Bob', 'age': 18},{'name': 'Charlie', 'age': 22}]
    

# Finding the student with the highest age
oldest_student = max(students, key=lambda student: student['age'])
print(oldest_student)  # {'name': 'Charlie', 'age': 22}

{'name': 'Charlie', 'age': 22}

In [1]:
A=lambda x,y : x+y 
print(A(2,3))

5

In [2]:
def A():
    for i in range(1,5):
        return i
    
A()

1

In [4]:
def A():
    for i in range(1,5):
        yield i

A()

In [8]:
arr = [6, 1, 2, 7, 1, 9, 1, 0, 4, 0, 2, 5]
arr=list(set(arr))
for i in range(len(arr)):
    for j in range(len(arr)-1-i):
        if arr[j]>arr[j+1]:
            arr[j],arr[j+1]=arr[j+1],arr[j]
print(arr)
print(arr[-2])
print(arr[1])

[0, 1, 2, 4, 5, 6, 7, 9]
7
1

In [10]:
# FIND LEAP YEAR BETWEEN 2000 AND 2050
n=2000
while n<=2050:
    if (n%4==0 and n%100!=0) or (n%400==0):
        print(n, end=' ')
    n+=1

2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048

In [1]:
select * from tablename

select count(*) from tablename

select distinct * from tablename

SyntaxError: invalid syntax (1634304774.py, line 1)

In [3]:
s={1,2,3,4}

{1, 2, 3, 4}

In [4]:
class A:
    def __init__(self):
        print('understand the flow of execution first')
    def m(self):
        print('dfghj')

A.m(self=12)

dfghj

In [13]:
n =5
sp=n
st=1
for a in range(n):
    num=a+1
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        if c==0 or c==st-1:
            print(1,end=' ')
        else:
            if c%2==0:
                print(num,end=' ')
            else:
                print(' ',end=' ')
    print()
    st+=2
    sp-=1

          1
        1   1
      1   3   1
    1   4   4   1
  1   5   5   5   1

In [28]:
def singleton(arg):
    d={}
    def inner():
        if arg not in d:
            d[arg]=arg()
        return d[arg]
    return inner
    
@singleton
class ffx:
    def __init__(self):
        self.tickets =100
    def booking (self):
        n =int(input('enter No of tic'))
        if self.tickets>=n:
            self.tickets-=n
            print('tickets booked succefully')
        else:
            print('tickets not available')
@singleton
class tiru:
    def __init__(self):
        self.tickets =100
    def booking (self):
        n =int(input('enter No of tic'))
        if self.tickets>=n:
            self.tickets-=n
            print('tickets booked succefully')
        else:
            print('tickets not available')
def Book():
    print('1.ffx 2.tiru')
    option=int(input('choose option'))
    if option==1:
        ob=ffx()
        ob.booking()
    elif option==2:
        ob=tiru()
        ob.booking()
    else:
        print('enter valid option')
ob1=Book()
ob2=Book()
ob3=Book()

1.ffx 2.tiru
tickets booked succefully
1.ffx 2.tiru
tickets booked succefully
1.ffx 2.tiru
tickets booked succefully

10 20

In [2]:
class Name:
    def __init__(self):
        javajam=java

name1=Name("abc")
name2=name1

TypeError: Name.__init__() takes 1 positional argument but 2 were given

In [3]:
x=1
while True:
    if x%5==0:
        break
    print(x)
    x+=1

1
2
3
4

In [4]:
pow(x,y,z)

NameError: name 'y' is not defined

In [5]:
x=1
y=2
z=3
pow(x,y,z)

1

In [6]:
(x**y)/z

0.3333333333333333

In [7]:
(x/y)*z

1.5

In [8]:
(x**y)%z

1

In [9]:
(x/y)/z

0.16666666666666666

In [1]:
d={}
def dic(c):
    if c in d:
        d[c]+=1
    else:
        d[c]=1
dic('china')
dic('japan')
dic('china')
print(len(d))

2

In [2]:
__xyz__=20
print(__xyz__)

20