In [1]:
print('something')

something

In [12]:
n=int(input())
sp=(n*2-1)//2

st=1
for x in range(n*2-1):
    num=n
    for c in range(sp):
        print('-', end='-')
    for d in range(st):
        if d<st-1:
            print(chr(num+96), end='-')
        else:
            print(chr(num+96), end='')
        num=num-1 if d<st//2 else num+1
    for c in range(sp):
        print('-', end='-')
    print()
    if x<(n*2-1)//2:
        st+=2
        sp-=1
    else:
        sp+=1
        st-=2

----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

In [32]:
class a():
    name='sdfghj'
    @staticmethod
    def add():
        return 5+2
ob=a()
ob.name='sdfg'
print(a.name)

sdfghj

In [33]:
int('3')

3

In [36]:
str('fghj')

'fghj'

In [38]:
def outer(arg):
    def inner(a,b):
        arg(a,b) if a>b else arg(b,a)
    return inner
@outer
def add(a,b):
    print(a/b)

add(2,10)

5.0

In [45]:
def outer(arg):
    d={}
    def inner():
        if arg not in d:
            d[arg]=arg()
        return d[arg]
    return inner
@outer
class a():
    def __init__(self):
        print('gdfghj')
ob=a()
ob=a()

gdfghj

In [58]:
class bank():
    def __init__(self,account,balance):
        self.__account=account
        self.__balance=balance
    def withdraw(self,amount):
        if self.__balance>=amount:
            self.__balance-=amount
            print('amount withdrawed successfully')
        else:
            print('not an sufficient funds')
    def get_balance(self):
        return self.__balance
    
ob=bank(1234,32)
ob.withdraw(12)
# print(ob.__balance)
ob.get_balance()

amount withdrawed successfully

20

In [51]:
class BankAccount:
    def __init__(self, account_number, balance):
        self._account_number = account_number
        self._balance = balance

    def deposit(self, amount):
        self._balance += amount

    def withdraw(self, amount):
        if self._balance >= amount:
            self._balance -= amount
        else:
            print("Insufficient funds")

    def get_balance(self):
        return self._balance

account = BankAccount(123456789, 1000)
print(account._balance) # Output: AttributeError: 'BankAccount' object has no attribute '_balance'

1000

In [13]:
json.dump(d)

NameError: name 'json' is not defined

In [14]:
k='ghj tyuk ghj'
print(str(k))

ghj tyuk ghj

In [5]:
a='dfghk'
b='dfghjkj'
g=zip(a,b)
for i in g:
    print(i)

('d', 'd')
('f', 'f')
('g', 'g')
('h', 'h')
('k', 'j')

In [7]:
f=enumerate(a)
print(list(f))

[(0, 'd'), (1, 'f'), (2, 'g'), (3, 'h'), (4, 'k')]

In [10]:
l=[1,2,3,4,0]
d=[x if x>1 else 0 for x in l ]
print(d)

[0, 2, 3, 4, 0]

In [12]:
prices = [2.50, 3.10, 2.70]
f=lambda x,y:x if x>y else y
print(f(prices))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [6]:

l=[8,3,7,88,12,45,99,1,4,9,11]
k=-1
f=0
for x in l:
    k+=1
print(k)
print(f'{k}={f}')
while f<k:
    l[f],l[k]=l[k],l[f]
    k-=1
    f+=1
print(l)

10
10=0
[11, 9, 4, 1, 99, 45, 12, 88, 7, 3, 8]

In [84]:
import numpy as np
a=np.array([[1,2,3],[2,3,4]])
print(np.min(a,axis=0))

[1 2 3]

In [63]:
n=int(input())
s=n
a=len(str(n))//2
b=10**a
if len(str(n))%2==0:
    x=n%b
    n=n//b
res=x+n
print(res)
if (res*res)==s:
    print('s')
else:
    print('n')

45
s

In [52]:
123456%1000

456

In [57]:
l='h4u k1k j2j'
k=[]
for x in range(len(l.split())):
    for c in l.split():
        if str(x) in c:
            k.append(c.replace(str(x),''))
print(k)

['kk', 'jj']

In [22]:
class Team():
    def __init__(self,name,age,runs):
        self.name=name
        self.age=age
        self.runs=runs
class b:
    def __init__(self,num):
        self.num=num
        self.li=[]

        for i in range(self.num):
            n=input('enter name')
            a=int(input('enter age '))
            r=int(input('enter runs '))

            var=a(n,a,r)
            self.li.append(var)
    def Find(self):
        h=self.li[0]
        for i in self.li:
            if h.runs<i.runs:
                h=i
        print(f'{i.name} runs is {i.runs} high')
ob1=b(1)
ob1.Find()

TypeError: 'int' object is not callable

In [61]:
d={'z':110,'b':10}
f={k:v for k,v in sorted(d.items())}
print(f)

{'b': 10, 'z': 110}

In [62]:
my_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = {k: v for k, v in sorted(my_dict.items(), key=lambda item: item[1])}
print(sorted_dict)

{'b': 1, 'c': 2, 'a': 3}

In [3]:
n=input()
if len(n.split())>3:
    print(n)

madhu is a good

In [9]:
a,b,c,d=6,2,99,4
if a>b and a>b and a>c and a>d:
    print(a)
elif b>c and b>d:
    print(b)
elif c>d:
    print(c)
else:
    print(d)

99

In [16]:
d={'madhu':{'password':123}}
n=input()
if n in d:
    p=int(input())
if p==d['madhu']['password']:
    print('user name and password is correct')
else:
    print('wrong')

user name and password is correct

In [20]:
def m(a,b):
    if a>1:
        if b<a//2+1:
            if a%b==0:
                return False
            return m(a,b+1)
        return True
    return False
m(int(input()),2)

False

In [1]:
n=int(input())
b=2

not

In [26]:
class Python():
    topic='Oops'
    def __init__(self,name,age,bal):
        self._name=name
        self.age=age
        self.bal=bal
    def display_data(self):
        print(self._name)
        print(self.age)
        print(self.bal)

class Java(Python):
    def __init__(self,name,age,bal,adhar):
        Python.__init__(self,name,age,bal)
        self.adhar=adhar
    def display_data(self):
        super().display_data()
        print(self.adhar)
ob=Java('madhu',12,1234,987)
ob.display_data()

madhu
12
1234
987

In [2]:
n=int(input())
l=str(n)
print(l)
a=l[:len(l)//2]
b=l[len(l)//2:]
res=int(a)+int(b)
print(res)

2025
45

In [11]:
import random
my_list = ["apple", "banana", "orange", "pear"]
n=random.randint(1,2)
n=random.choices(my_list,k=2)
print(n)

['banana', 'apple']

In [13]:
import random

# Generate a random float between 0 and 1
print(random.random())

# Generate a random integer between 1 and 10 (inclusive)
print(random.randint(1, 10))

# Choose a random element from a list
my_list = ["apple", "banana", "orange", "pear"]
print(random.choice(my_list))

# Shuffle the elements in a list
random.shuffle(my_list)
print(my_list)

# Sample 3 unique elements from a list(not only 3 we can take elements upto the len of list)
my_list = ["a", "b", "c", "d", "e"]
print(random.sample(my_list, 3))

0.7629940726074185
6
apple
['orange', 'apple', 'pear', 'banana']
['d', 'a', 'e']

In [24]:
n=int(input())
c=0
while c==0:
    k=2
    while k<n//2+1:
        if n%k==0:
            print('not prime')
            c+=1
            break
            
        k+=1
    else:
        print('prime')
        c+=1

not prime

In [72]:
n=int(input())
l=[x for x in range(1,n+1)]
a=2
while True:
    k=[]
    k+=l[::a]
    print(l)
    l.clear()
    l+=k
    if len(k)<=1:
        break
    a+=1
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 7]
[1]

In [37]:
n=int(input("Enter number : "))
l=[12]
x=1
while x!=0:
    for a in range(1,n):
        if a%2!=0 and a>2:
            l.append(a)
        if 1==len(l):
            x=0
            break
        a+=1
        n=len(l)
print(l)

[12]

In [31]:
k=[]
k+=[1,2,3]
print(k)

[1, 2, 3]

In [51]:
n=int(input())
sp=n-1
st=1
for x in range(n):
    for c in range(sp):
        print(' ', end=' ')
    for d in range(st):
        if d==0 or d==st-1:
            print(1, end=' ')
        else:
            if d%2!=0:
                print(' ', end=' ')
            else:
                print(x, end=' ')
       
    print()
    sp-=1
    st+=2

        1
      1   1
    1   2   1
  1   3   3   1
1   4   4   4   1

In [54]:
n=int(input())
sp=n-1
st=1
for x in range(n):
    for c in range(sp):
        print(' ', end=' ')
    for d in range(st):
        if d==0 or d==st-1:
            print(1, end=' ')
        else:
            if d%2==0:
                print(' ', end=' ')
            else:
                print(x+1, end=' ')
       
    print()
    sp-=1
    st+=2

        1
      1 2 1
    1 3   3 1
  1 4   4   4 1
1 5   5   5   5 1

In [37]:
n=int(input())
l=[x for x in range(1,n+1)]
a=2
print(l)
while True:
    k=[]
    for i in range(0,len(l),a):
        if i<len(l)-1:
            l.pop(i)
    print(l)
    print(a)
    k+=l
    l.clear()
    l+=k
    if len(k)<=1:
        break
    a+=1
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 5, 6, 8, 9, 10]
2
[3, 5, 6, 9, 10]
3
[5, 6, 9, 10]
4
[6, 9, 10]
5
[9, 10]
6
[10]
7
[10]

In [31]:
a=[1,2,3,4]
b=2
for x in range(0,len(a),b):
    print(x)

0
2

In [43]:
import random
a=['a','f','r']
print(random.choices(a,k=2))

['f', 'r']

In [49]:
l=['paper','scisor','rock']
j=random.choice(l)
n=input()
print(j)
if n in l and n>j:
    print('user win')
elif n==j:
    print('draw')
elif n not in l:
    print('wrong option')
else:
    print('sys win')

scisor
sys win

In [56]:
l=[1,2,3,4,5,6]
print(random.sample(l,6))

[4, 3, 1, 6, 5, 2]

In [32]:
s='I12S QUESTI14ON EX20AM THIS11'
d={}
for x in s.split():
    num=ss=''
    ss=''
    for c in x:
        if c.isdigit():
            num=num+c
        else:
            ss=ss+c
    d[int(num)]=ss
f={k:v for k,v in sorted(d.items())}
l=list(f.values())
print(' '.join(l))

THIS IS QUESTION EXAM

In [41]:
d={'a':{'j':1,'k':2},'b':{'l':3,'m':4}}
n=int(input())
def m(n):
    for v in d.values():
        for a,b in v.items():
            if n==b:
                print(a)
                break
print(n)
m(n)

3
l

In [43]:

def m(a,b):
    for x,y in a.items():
        b[x]=y
    return b
a={'j':1,'k':2}
b={'k':3,'m':4}
m(a,b)

{'k': 2, 'm': 4, 'j': 1}

In [45]:

def m(a,b):
    s={}
    for k,v in a.items():
        if k in b and b[k]==v:
            s[k]=v
    return s
a={'j':1,'k':2}
b={'k':2,'m':4}
m(a,b)

{'k': 2}

In [5]:
a={'j':1,'k':2}
b={'k':2,'m':4}
def m(b):
    s={}
    for k,v in b.items():
        a[v]=k
    return a
m(b)

{'j': 1, 'k': 2, 2: 'k', 4: 'm'}

In [6]:
a['j']=66
print(a)

{'j': 66, 'k': 2, 2: 'k', 4: 'm'}

In [12]:
l=['float','flower','flask']
for x in range(len(l)):
    mi=x
    for c in range(x+1,len(l)):
        if l[mi]>l[c]:
            mi=c
    l[x],l[mi]=l[mi],l[x]
print(l)

['flask', 'float', 'flower']

In [17]:
l=[1,2,3,4]
l1=[3,4,5,6]
for x in l:
    if x in l1:
        print(x, end=' ')

3 4

In [20]:
class MathUtils:

    @staticmethod
    def average(a, b):
        return a + b / 2

print(MathUtils.average(2, 1))

2.5

In [10]:
d={'madhu':4,'ram':32,'raj':36,'naveen':39,'ravi':40}
# if __name__ == '__main__':
#     for x in range(int(input())):
#         name = input()
#         score = float(input())
#         d[name]=score
l=list(d.values())
for x in range(len(l)):
    for c in range(len(l)-1-x):
        if l[c]>l[c+1]:
            l[c],l[c+1]=l[c+1],l[c]
s=l[2]
print(s)
l1=[]
for k,v in d.items():
    if v==s:
        l1.append(k)
l1.sort()
print(l1)

39
['naveen']

In [16]:
d={'madhu':20,'ram':20,'raj':19,'naveen':19,'ravi':21}
# if __name__ == '__main__':
#     for x in range(int(input())):
#         name = input()
#         score = float(input())
#         d[name]=score
print(d)
l=list(d.values())
for x in range(len(l)):
    for c in range(len(l)-1-x):
        if l[c]>l[c+1]:
            l[c],l[c+1]=l[c+1],l[c]
a=[]
for i in l:
    if i not in a:
        a.append(i)
s=a[1]
print(l)
l1=[]
for k,v in d.items():
    if v==s:
        l1.append(k)
l1.sort()
for i in l1:
    print(i)

{'madhu': 20, 'ram': 20, 'raj': 19, 'naveen': 19, 'ravi': 21}
[19, 19, 20, 20, 21]
madhu
ram

In [22]:
import re
S='rabcdeefgyYhFjkIoomnpOeorteeeeet'
D=re.findall('[aeiouAEIOU]+[aeiouAEIOU]',S)
print(D)
for i in D:
    print(i)

['ee', 'Ioo', 'Oeo', 'eeeee']
ee
Ioo
Oeo
eeeee

In [4]:
d={'a':{'j':1,'k':2},'b':{'l':3,'m':4}}
for x in d:
    for c in d[x]:
        print(c)

j
k
l
m

In [5]:
a={'j':1,'k':2}
b={'k':2,'m':4}
d={}
def m(a,b):
    d={}
    for k,v in a.items():
        if k in b and a[k]==b[k]:
            d[k]=v
    return d
m(a,b)

{'k': 2}

In [7]:
a=['float','flower','flask']
for x in range(len(a)):
    a.pop(x)
    print(a)

['flower', 'flask']
['flower']

IndexError: pop index out of range

In [5]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
import re
S='abaabaabaaae'
# Enter your code here. Read input from STDIN. Print output to STDOUT
D=re.findall('[^aeiouAEIOU]{1}[aeiouAEIOU][aeiouAEIOU]+[^aeiouAEIOU]{1}',S)

# if len(D)>0:
#     for i in D:
#         print(i[1:len(i)-1])
# else:
#     print(-1)
print(D)

['baab']

In [1]:

# Enter your code here. Read input from STDIN. Print output to STDOUT
import re
S='baabaabaaae'
D=re.findall('[BDFGHJKLMNPQRSTVWXYZbdfghjklmnpqrstvwxyz]{1}[aeiouAEIOU][aeiouAEIOU]+[BDFGHJKLMNPQRSTVWXYZbdfghjklmnpqrstvwxyz$]{1}',S)
print(D)
if len(D)>0:
    for i in D:
        print(i[1:len(i)-1])
else:
    print(-1)

['baab']
aa

In [22]:
s='madhu'
d=re.findall('[^m]{1}[adh]+[^u]{1}',s)
print(d)

['adh']

In [2]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
import re
s=int(input())
for x in range(s):
    r=input()
    D=re.findall('[7-9]\d{9}',r)
    if len(D)>0:
        print('YES')
    else:
        print('NO')

YES

In [1]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(s):
    a=s.split()
    k=[]
    for x in a:
        r=''
        for c in range(len(x)):
            if c==0 and x[c].isalpha():
                r+=chr(ord(x[c])-32)
            else:
                r+=x[c]
        
        k.append(r)      
    return ' '.join(k)

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    s = input()

    result = solve(s)
    print(result)

    fptr.write(result + '\n')

    fptr.close()

KeyError: 'OUTPUT_PATH'

In [8]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

try:
    a=int(input())
    b=int(input())
    res=a/b
except BaseException as msg:
    print(msg)
else:
    print(res)

invalid literal for int() with base 10: ''

In [3]:
def m():
    print('m started')
    z=10
    print(z)
    print('m ended')
def s():
    print('s started')
    m()
    # print(z/0)
    print('s ended')
try:
    print('try start')
    s()
    print('try end')
except BaseException as msg:
    print(msg)
else:
    print('no error')

try start
s started
m started
10
m ended
s ended
try end
no error

In [13]:
n=int(input())
f=0
s=1
l=[]
for x in range(n*2-1):
    l.append(f+s)
    f,s=s,f+s
print(l)
a=0
for x in range(n):
    print('  '*(x), end=' ')
    print(l[a])
    a+=2
b=-2
for x in range(n-1):
    print('  '*(n-2-x), end=' ')
    print(l[b])
    b-=2

[1, 2, 3, 5, 8]
 1
   3
     8
   5
 2

In [5]:
a=1234
print(a)

1234

In [3]:
s='a2b3c1d1'
for x in range(1,len(s),2):
    if int(s[x])>1:
        print(s[x-1])

a
b

In [4]:
n=3
l=[[2,3],[5,4,3],[6]]
k=[]
for x in range(n):
    g=0
    for c in range(n):
        if x<len(l[c]):
            g+=l[c][x]
    k.append(g)
print(k)

[13, 7, 3]

In [1]:
l={2,3,4}
l1={3,4,5}
print(l[0])

TypeError: 'set' object is not subscriptable

In [3]:
12<<2

48

In [4]:
l=[1,2,3]
l.pop(22)

IndexError: pop index out of range

In [7]:
s='a20b30c97d9'
d={}
l=[]
l1=[]
for x in range(len(s)):
    a=''
    for c in range(x,len(s)-1,len(a)+1):
        if s[c].isalpha():
            l.append(s[c])
        elif s[c].isdigit() and s[c+1].isalpha():
            a+=s[c]
            break
        else:
            a+=s[c]
    if a not in l1:
        l1.append(a)
if s[-1].isdigit():
    l1.append(s[-1])
print(l,l1)
print(a)

['a', 'b', 'c', 'd'] ['20', '0', '30', '97', '7', '', '9']

In [6]:
s='3a1b1c1000d'
l=[]
l1=[]
d=0
q=''
while d<len(s):
    if s[d].isdigit():
       q+=s[d]

    if s[d].isalpha():
        l.append(s[d])
        if q:
            l1.append(q)
        q=''
    d=d+1
if q:
    l1.append(q)

d={l[x]:int(l1[x]) for x in range(len(l))}
print(d)

d1 = dict(sorted(d.items(), key=lambda x: x[1]))

for k,v in d1.items():
    if v>1:
        print(k,end='')

{'a': 3, 'b': 1, 'c': 1, 'd': 1000}
ad

In [3]:
d={}
a=d.fromkeys([1,2],'ab')
print(a)

{1: 'ab', 2: 'ab'}

In [6]:
l=[1,2]
l.insert(4,6)
l

[1, 2, 6]

In [22]:
a='sdfghj'
print(eval(a))

NameError: name 'sdfghj' is not defined

In [24]:
import json

string = '{"name": "John", "age": 30, "city": "New York"}'

# Convert the string into a dictionary
dictionary = json.loads(string)

print(dictionary)  # Output: {'name': 'John', 'age': 30, 'city': 'New York'}

{'name': 'John', 'age': 30, 'city': 'New York'}

In [28]:
a=(1,2)
print(dict(a))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [29]:
def m(n):
    if n==11:
        return 
    print(n)
    m(n+1)
m(1)

1
2
3
4
5
6
7
8
9
10

In [30]:
def m():
    print('dfghj')
print(m())

dfghj
None

In [31]:
def m(n):
    if n==-len(s)-1:
        return ''
    return s[n]+m(n-1)
s='madhu'
m(-1)

'uhdam'

In [38]:
a={'a':10,'b':20}
a.setdefault('c',100)
a

{'a': 10, 'b': 20, 'c': 100}

In [40]:
ord('A')

65

In [41]:
a=s=d=10
print(s)

10

In [42]:
132%6

0

In [8]:
n=1
c=0
while c!=10:
    r=0
    a=n
    while n!=0:
        r+=(n%10)
        n//=10
    if a%r==0:
        print(a)
        c+=1
    n=a+1

1
2
3
4
5
6
7
8
9
10

In [5]:
n=132
a=n
r=0
while n!=0:
    r+=(n%10)
    n//=10
if a%r==0:
    print('s')
else:
    print('n')

s

In [10]:
l=[[1,2],[2,3,4]]
print(len(max(l)))

3

In [15]:
def m(n,r):
   if n!=1 and r<n//2+1:
      if n<=1 or n%r==0:
         return 'not prime'
      return m(n,r+1)
   return 'prime'
m(6,2)

[False]

In [17]:
n=14
r=0
x=1
while n!=0:
    r+=(n%2)*x
    n//=2
    x*=10
r

1110

In [3]:
a='madhuaaaa'
d={}
for x in a:
    s=0
    for c in a:
        if x==c:
            s+=1
    if x not in d:
        d[x]=s-1
    
d

{'m': 0, 'a': 4, 'd': 0, 'h': 0, 'u': 0}

In [6]:
s='aabbbccccddfvvw'
c=1
r=''
for x in range(len(s)-1):
    if s[x]==s[x+1]:
        c+=1
    else:
        r+=s[x]+str(c)
        c=1
r+=s[x+1]+str(c)
print(r)

a2b3c4d2f1v2w1

In [8]:
a='qw'
print(a+' hello')

qw hello

In [9]:
def m():
    print(a)
a=10
m()
print(a)

10
10

In [25]:

def m():
    print(z)
    def n():
        global z
        z=22
        print(z)
    n()
    print(z)
z=200
m()
print(z)

10
22
22
22

In [14]:
class a():
    def __init__(self):
       self.x=20
    def d(self):
        return self.y
ob=a()
print(ob.d())

AttributeError: 'a' object has no attribute 'y'

In [12]:
l=[4,2,6,3]
for x in range(max(l)):
    for c in range(len(l)):
        if x<l[c]:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * *
* * * *
*   * *
*   *
    *
    *

In [14]:
l=['[1,2,3,2]','[4,5,6]','[1,2,3,4,5,6]']
l1=[]
l2=[]

for x in l:
    l1.append(eval(x))
print(l1)
f=0
for i in l1:
    if f<len(i):
        f=len(i)
print(f)
for c in range(len(max(l1))):
    a=0
    for d in range(len(l1)):
        if c<len(l1[d]):
            a+=l1[d][c]
    l2.append(a)
print(l2)

[[1, 2, 3, 2], [4, 5, 6], [1, 2, 3, 4, 5, 6]]
6
[6, 9, 12]

In [2]:
s='google bleeed bloooooodd'
d={}
a=1
for i in range(len(s)-1):
    if s[i]==s[i+1]:
        a+=1
    else:
        if a>1:
            if s[i] not in d:
                d[s[i]]=a//2
            else:
                d[s[i]]+=a//2
            a=1
if a>1:
    if s[i] not in d:
        d[s[i]]=a//2
        
    else:
        d[s[i]]+=a//2
print(d)

{'o': 4, 'e': 1, 'd': 1}

In [12]:
l=[[1],[1,2],[1,2,3],[1,2,3,4]]
print(len(max(l)))

4

In [8]:
a=[[1,2,3]]
print(eval(a[0]))

TypeError: eval() arg 1 must be a string, bytes or code object

In [10]:
s='44x34a2b1c1d'
c=''
for i in s:
    if i.isdigit():
        c+=i
    elif i.isalpha():
        if int(c)>1:
            print(i,end='')
        c=''

xab

In [3]:
def fib(n):
    f=0
    s=1
    if n==1 or n==2:
        return n-1
    for x in range(n):
        t=f
        f,s=s,f+s
    yield t
print(list(fib(5)))

[3]

In [5]:
n=5
f=0
s=1
r=0

for x in range(1,n+1):
    r=f
    f,s=s,f+s
    if x==n:
        print(r)

3

In [1]:
class A(B):
    x=10

class B(C):
    pass

class C(A):
    pass
ob=C()
print(ob.x)

NameError: name 'B' is not defined

In [8]:
l=[[1,2],[1],[4,3,21,3],[3,2,1],[6,5,4,3,2,1],[8,7,6,5,4,3,2,1]]
print(max(l))

[8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
s='aaaaa is a madhu boy'
f=len(max(s.split()))
l=[]
for i in s.split():
    if len(i)==f:
        print(i)
        break

aaaaa

In [10]:
import numpy as np
np.ones((3,5),dtype=int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [6]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
np.linspace(10,100,10,endpoint=False,)

array([10., 19., 28., 37., 46., 55., 64., 73., 82., 91.])

In [22]:
s=np.full([1,5],4)
s.size
s.shape
s.dtype
s.itemsize

4

In [24]:
import sys
a=np.array([1,2,3,4])
sys.getsizeof(a)

128

In [25]:
a=np.array([1,2,3,4],dtype='int8')
sys.getsizeof(a)

116

In [56]:
a=np.array([[[0,2,34],[1,9,3],[6,5,4]],[[1,2,3],[4,5,6],[7,8,9]]])
a[[0,1],[0,1],[1,2]]

array([2, 6])

In [62]:
a=np.array([[0,2,34],[1,9,3],[6,5,4]])
b=np.array(a>5)
a[b]

array([34,  9,  6])

In [11]:
a=np.array([0,2,34,7,6,5,4])
b=a[[0,1,2,3,4,5]]
b[0]=99
a

NameError: name 'np' is not defined

In [10]:
l=[1,2,3]
a=l[:]
a[0]=99
l

[1, 2, 3]

In [9]:
s='madhu'
print(''.join(reversed(s)))

uhdam

In [4]:
class a:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    
class b(a):
    def __init__(self,x,y,z):
        super().__init__(x,y)
        self.z=z

ob=b(10,20,30)
print(ob.x)

10

In [8]:
class a:
    s=10
class b(a):
    pass
class c(b):
    pass
class d(c):
    pass
ob=d()
print(ob.s)

10

In [17]:
class a():
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display_data(self):
        print(self.name)
        print(self.age)

class b(a):
    def __init__(self,name,age,bal):
        super().__init__(name,age)
        self.bal=bal
    def display_data(self):
        super().display_data()
        print(self.bal)    
ob=b('madhu',22,1234)
ob.display_data()

madhu
22
1234

In [20]:
class a():
   def b(self,x,c):
      return x+c
   def b(self,x,c,v):
      return x+c+v


ob=a()
ob.b(1,2,3)

6

In [27]:
from abc import ABC,abstractmethod

class redmi(ABC):
    @abstractmethod
    def ram(self):
        pass
    def rom(self):
        pass
    def color(self):
        print('blue')

class redmi10(redmi):
    def ram(self):
        print('ram is 8')
    def rom(self):
        print('128')
    
x=redmi10()
x.color()

blue

In [1]:
l=[1,2,3]
ob=iter(l)
list(ob)

[1, 2, 3]

In [7]:
n=int(input())
def m(n):
    a=n
    if n>=2000:
        r=n//2000
        print(r,' 2000 notes required for',a)
        n=n-2000*r
    if n>=500:
        r=n//500
        print(r,'500 notes required for',a)
        n=n-500*r

m(n)

2  2000 notes required for 5550
3 500 notes required for 5550

In [8]:
l=['madhu','ravi','ram']
d={}
for i in l:
    if i[0] not in d:
        d[i[0]]=1
    else:
        d[i[0]]+=1
d

{'m': 1, 'r': 2}

In [14]:

s={1,2,3}
s1={3,4,5}
s.intersection(s1)

{3}

In [18]:
s=(1,)
s[0]

1

In [19]:
132/2

66.0

In [25]:
2**9

512

In [27]:
a='madhu'
for i in range(len(a)):
    print(a[0:i+1])

m
ma
mad
madh
madhu

In [31]:
13&9

9

In [35]:
print(''.join(reversed('a20b30c40')))

04c03b02a

In [36]:
a='ma ma ma'
print(a.index('m',a.index('m',a.index('m')+1)+1))

6

In [39]:

l=[x for x in range(1,101)]
while len(l)>1:
    a=2
    b=a
    for i in range(len(l)):
        if len(l)<a-1:
            l.pop(a)
        a+=a
    a=b+1
print(l)

IndexError: pop index out of range

In [41]:
l=[1,2,'a']
' '.join(l)

TypeError: sequence item 0: expected str instance, int found

In [43]:
d={1,2,(3,2),'madhu'}

In [50]:
l=['12',(1,2),'14']
print(dict(l))

{'1': '4', 1: 2}

In [4]:
l=[[1,2],[3,4],[5,6]]
f=0
for i in l:
    if sum(i)>f:
        f=sum(i)
for j in l:
    if sum(j)==f:
        print(j)

[5, 6]

In [2]:
l=[1,2,3]
print(sum(l))

6

In [10]:
sum([1,2],[1,2])

TypeError: can only concatenate list (not "int") to list

In [20]:
def m(n):
    s=0
    while n!=0:
        s+=(n%10)
        n//=10
    return s
l=[15,12,13,14]
a=0
b=0
for i in l:
    if m(i)>a:
        a=m(i)
        b=i
print(b)

15

In [21]:
l=[[1,2],[3,4,5]]
print(max(l))

[3, 4, 5]

In [3]:
class m(BaseException):
    def __init__(self,msg):
        self.msg=msg
    def __str__(self) -> str:
        return self.msg

try:
    n=2
    if n%2==0:
        raise BaseException('not odd')
except BaseException as msg:
    print(msg)
else:
    print('odd')

not odd

In [15]:
import re
s='madhum'
re. findall('\A[m]\w+\Z[m]',s)

error: bad escape \z at position 8

In [4]:
def find_all_hobbyists(h,hobbies):
    l=[]
    for name,hobby in hobbies.items():
        if h in hobby:
            l.append(name)
    return l
h=input()
hobbies = { 
    "Steve": ['Fashion', 'Piano', 'Reading'],
    "Patty": ['Drama', 'Magic', 'Pets'],
    "Chad": ['Puzzles', 'Pets', 'Yoga']
}

print(find_all_hobbyists(h,hobbies))

['Patty']

In [ ]:


sort_by_price_ascending=('[{"name":"eggs","price":1},{"name":"coffee","price":9.99},{"name":"rice","price":4.04}]')

import json
f=json.load()

In [30]:
n = 8
st= n*2
sp= 0
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        if c%2==0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
    st-=2
    sp+=1

*   *   *   *   *   *   *   *
  *   *   *   *   *   *   *
    *   *   *   *   *   *
      *   *   *   *   *
        *   *   *   *
          *   *   *
            *   *
              *

In [35]:
s='google bleeed bloooooodd'
d={}
for i in range(len(s)):
    if s[i] not in d and s.count(s[i])>1 and s[i]!=' ' and s[i]==s[i+1] :
        d[s[i]]=s.count(s[i])//2
print(d)

{'o': 4, 'e': 2, 'd': 1}

In [1]:
def m(n,a=0):
    if n<len(s):
        if s[n] in vowels:
            a+=1
        return m(n+1,a)
    else:
        return a
vowels='aeiouAEIOU'
s='dont let go'
print(m(0))

3

In [20]:
l=[1,2,3]
s=l.copy()
l[1]=55
print(l,s)
print(l[1] is l[1])

[1, 55, 3] [1, 2, 3]
True

In [23]:
l=[1,2,[3,4]]
s=l.copy()
s[2][0]=90
print(l is s)
print(id(s))
print(id(l))

False
2235656443648
2235656117376

In [12]:
import pandas as pd
df=pd.read_excel("marksheet_1.xlsx",)
df['Total']=df['phy']+df['maths']+df['bio']
# df=df.style.hide_index()
# df['name']='dfghj'
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [5]:
df.drop(columns=['Total'],inplace=True)
df

       name  gender state  phy  maths  bio
0     rohan    male    mh   60     90   68
1    aniket    male    up   52     85   72
2    ganesh    male    up   45     82   78
3     meena  female    mp   72     69   80
4     seema  female    mh   68     90   78
5    dinesh    male    mp   48     34   67
6    yogita  female    mp   39     65   90
7     karan    male    mh   82     78   55
8    jayesh    male    up   87     88   32
9   mangesh    male    mp   91     78   82
10    geeta  female    mh   31     58   78
11   runali  female    up   85     92   66
12   tushar    male    up   32     92   77
13    binod    male    mh   95     78   88
14   sanjay    male    mh   63     90   80

In [7]:
a={1,2,3}
b={2,3,4}
print(a.union(b))

{1, 2, 3, 4}

In [44]:
def m(n,a=2):
    if n>1:
        if a<n//2+1:
            if n%a==0:
                return False
            return m(n,a+1)
        return True
    return False

# n=int(input())
# m(n)
for i in range(1,30):
    if m(i):
        print(i, end=' ')

2 3 5 7 11 13 17 19 23 29

def m(n):
    if n>1:
        for x in range(2,n//2+1):
            if n%x==0:
                return False
        return True
    return False
for i in range(1,30):
    if m(i):
        print(i, end=' ')

In [40]:
21%3

0

In [21]:
def m(n):
    if n<-len(s):
        return ''
    if n==-1 or n==-len(s):
        return chr(ord(s[n])-32)+m(n-1)
    else:
        return s[n]+m(n-1)
s='madhu'
m(-1)

'UhdaM'

In [6]:
def m(n,a=l[0]):
    if n==len(l):
        return a
    if a<l[n]:
        a=l[n]
    return m(n+1,a)

l=[11,2,10,366,4,55]
print(m(1))

366

In [23]:
l[1]>l[1+1]

False

In [7]:
ord('a')

97

In [8]:
n=5
st=1
sp=n-1
for c in range(n):
    num=c+1
    for v in range(sp):
        print(' ', end=' ')
    for z in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=1
    sp-=1

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [9]:
n=475
while n!=0:
    r=n%10
    if r>1:
        for x in range(2,r//2+1):
            if r%x==0:
                break
        else:
            print(r)
    n//=10

5
7

In [13]:
49*7+27

370

In [16]:
def m(n,a=2):
    if n>1:
        if a<n//2+1:
            if n%a==0:
                return True
            return m(n,a+1)
        return False
    return True
for x in range(1,23):
    if m(x):
        print(x, end=' ')

1 4 6 8 9 10 12 14 15 16 18 20 21 22

In [24]:
def m(n):
    if n==0:
        return 0
    return (n%10)+m(n//10)
n=132
r=m(n)
if n%r==0:
    print('s')

s

In [27]:
def m(n,a=2):
    if n>1:
        if a<n//2+1:
            if n%a==0:
                return False
            return m(n,a+1)
        return True
    return False

def c(n):
    if n==0:
        return 
    r=n%10
    if m(r):
        print(r)
    return c(n//10)

print(c(1234))

3
2
None

In [28]:
def m(n,r=0,a=1):
    if n==a:
        return r
    if n%a==0:
        r+=a
    return m(n,r,a+1)
n=6
s=m(n)
if n==s:
    print('s')

s

In [32]:
def m(n,a=2):
    if n>1:
        if a<n//2+1:
            if n%a==0:
                return False
            return m(n,a+1)
        return True
    return False

def rev(n,pos):
    if n==0:
        return 0
    return (n%10)*pos+rev(n//10,pos//10)
n=int(input())
p=len(str(n))-1
pos=10**p
a=rev(n,pos)
if a!=n and m(n) and m(a):
    print('s')

s

In [39]:
s='madhau'
vowels='aeiou'
def m(n):
    if n>=len(s):
        return ''
    if s[n] in vowels:
        return s[n]+m(n+1)
    else:
        return m(n+1)

print(m(0))

aau

In [40]:
s='madha'

def m(n):
    if n>=len(s):
        return ''
    return chr(ord(s[n])-32)+m(n+1)

print(m(0))

MADHAU

In [41]:
s='madhuSABI'

def m(n):
    if n>=len(s):
        return ''
    if 'a'<=s[n]<='z':
        return chr(ord(s[n])-32)+m(n+1)
    elif 'A'<=s[n]<='Z':
        return chr(ord(s[n])+32)+m(n+1)
    else:
        return s[n]+m(n+1)

print(m(0))

MADHUsabi

In [49]:
s='no one say okay ok sare'
a=s.split()
d={}
for x in range(len(a)):
    if a[x] not in d:
        d[a[x]]=len(a[x])
f=list(d.values())
e=max(f)
for k,v in d.items():
    if v==e:
        print(k)
        break

okay

In [42]:
class a:
    n ='asdf'
    k ='mDHU'
    def __init__(self,n):
        self.r = n
    def m(self):
        self.r=30
    @classmethod
    def c_v_m(self):
        self.k='sab'
ob = a(10)
ob1=a('ram')
a.n='ertyu'
print(ob.n)
print(ob1.n)
print(ob.r)
print(ob1.r)
ob.r
ob.c_v_m()
print(ob.k)
# print(ob1.r)

ertyu
ertyu
10
ram
sab

In [41]:
class players:
    def __init__(self,name,age,runs):
        self.name=name
        self.age=age
        self.runs=runs

class play(players):
    def __init__(self):
        self.n=int(input('no of '))
        self.list=[]

        for i in range(self.n):
            n=input('name')
            a=int(input('age'))
            r=int(input('runs'))

            ob=players(n,a,r)
            self.list.append(ob)

    def highest_runs(self):
        a=self.list[0]
        for i in self.list:
            if a.runs<i.runs:
                a=i
        return a.name
    
ob=play()
ob.highest_runs()

'sabi'

In [45]:


class players:
    def __init__(self,name,bal):
        self.name=name
        self.bal=bal
    def display(self):
        print(f'name   : {self.name}')
        print(f'bal is : {self.bal}')

class play(players):
    def __init__(self,name,bal,pin):
       super().__init__(name,bal)
       self.pin=pin
    def display(self):
        super().display()
        print(f'pin is   : {self.pin}')
    
    
ob=play('madhu',123,7788)
ob.display()

name   : madhu
bal is : 123
pin is   : 7788

In [32]:
import pandas as pd

data = {'Name': ['John', 'Emma', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Sydney']}

df = pd.DataFrame(data)

print(df)

   Name  Age      City
0  John   25  New York
1  Emma   30    London
2  Mike   35    Sydney

In [49]:
f={'Name':None,'Age':None,'City':''}
# df=df.append(f,ignore_index=True)
df.fillna('xxx',inplace=True)
df.head(4)

   Name Age      City
0  John  25  New York
1  Emma  30    London
2  Mike  35    Sydney
3  John  25

In [3]:
import pandas as pd
df=pd.read_excel("marksheet_1.xlsx",)
# df=df.style.hide_index()
# df['name']='dfghj'
df['Total']=df['phy']+df['maths']+df['bio']
df['Grade']='pass/fail'

df.loc[df['Total']>150,'Grade']='pass'
df.loc[df['Total']<=150,'Grade']='fail'
df.loc[(df['Total']>100) & (df['Total']<200) ]

      name  gender state  phy  maths  bio  Total Grade
5   dinesh    male    mp   48     34   67    149  fail
6   yogita  female    mp   39     65   90    194  pass
10   geeta  female    mh   31     58   78    167  pass

In [13]:
df.iloc[:,[5,2,4,3]]
df.loc[:,['phy','bio']]
df.sort_values('name',ascending=False)
# df.rename(columns={'name':'Name'},inplace=True)
# df.style.hide_index()
df.loc[3,'state']='pp'
df.loc[df['name'].str.contains('m')]

      name  gender state  phy  maths  bio  Total Grade
3    meena  female    pp   72     69   80    221  pass
4    seema  female    mh   68     90   78    236  pass
9  mangesh    male    mp   91     78   82    251  pass

In [23]:
df.sort_index(ascending=False)

       name  gender state  phy  maths  bio  Total Grade
14   sanjay    male    mh   63     90   80    233  pass
13    binod    male    mh   95     78   88    261  pass
12   tushar    male    up   32     92   77    201  pass
11   runali  female    up   85     92   66    243  pass
10    geeta  female    mh   31     58   78    167  pass
9   mangesh    male    mp   91     78   82    251  pass
8    jayesh    male    up   87     88   32    207  pass
7     karan    male    mh   82     78   55    215  pass
6    yogita  female    mp   39     65   90    194  pass
5    dinesh    male    mp   48     34   67    149  fail
4     seema  female    mh   68     90   78    236  pass
3     meena  female    pp   72     69   80    221  pass
2    ganesh    male    up   45     82   78    205  pass
1    aniket    male    up   52     85   72    209  pass
0     rohan    male    mh   60     90   68    218  pass

In [40]:
data = {'Name': ['John', 'Emma'],
        'Age': [25, 28],
        'City': ['New York', 'London']}
df = pd.DataFrame(data)
new={'Name': ['John', 'Emma'],
        'Age': [25, 28],
        'City': ['New York', 'London']}

mf=pd.DataFrame(new)
df=pd.concat([df,mf],ignore_index=True)
# df=df.droplevel(0)
df.drop(0)
df.drop(df[df['Name'] == 'John'].index,inplace=True) 
df

   Name  Age    City
1  Emma   28  London
3  Emma   28  London

In [8]:
import numpy as np
s=np.array([[1,3322],[2,6655]])
a=s[:,1:]+2
d=np.array([[1,3324],[2,6657]])
d=d[:,1:]+2
d

array([[3326],
       [6659]])

In [16]:
class CredentialError(BaseException):
    def __init__(self,msg):
        self.msg=msg
    
    def __str__(self) -> str:
        return self.msg
    
class BankError(Exception):
    def __init__(self,msg):
        self.msg=msg
    
    def __str__(self) -> str:
        return self.msg

class bank1:
    def __init__(self,name,bal,pin):
        self.name=name
        self.bal=bal
        self.pin=pin
    def checkbal(self):
        print(f'{self.name} bal is {self.bal}')

    def withdraw(self):
        n=int(input())
        if self.bal>=n:
            self.bal-=n
            print('withdraw is success')
        else:
            raise BankError('your account bal is low')
    
ob=bank1('sab',100,99)
name=input('enter your username')
pin=int(input('Enter your pin'))
try:
    if name==ob.name and pin==ob.pin:
        try:
            print('1 is withdraw')
            print('2 is checkbal')
            n=int(input('please select option for action'))
            if n==1:
                ob.withdraw()
            else:
                ob.checkbal()
        except BankError as msg:
            print(msg)

    else:
        raise CredentialError('your pin or username is incorrect')
        
except CredentialError as msg:
    print(msg)

1 is withdraw
2 is checkbal
your account bal is low

In [18]:
class a:
    def __init__(self,bal) -> None:
        self.bal=bal

class b(a):
    def __init__(self) -> None:
        self.msg=1000

ob=b()
ob.bal

AttributeError: 'b' object has no attribute 'bal'

In [3]:
class a:
    q=1
class b(a):
    pass
class c(a):
    pass
class d(b,c):
    pass
ob=d()
print(ob.q)

1

In [11]:
d={'ram':4.0,'raj':4.0,'vishnu':2.34,'balu':5.5,'damu':1.0}
d1={k:v for k,v in sorted(d.items())}
l=sorted(list(d1.values()))
f={}
for x in range(len(l)):
    for k,v in d1.items():
        if l[x]==v and k not in l:
            f[k]=v
            l[x]=k
            break
f
l

['damu', 'vishnu', 'raj', 'ram', 'balu']

In [11]:
s='Gopichand'
s1=''
count=-1
for i in s:
    count+=1
a=count//2+1
for i in s:
    if a>count:
        break
    s1+=s[a]
    a+=1
a=count//2
for i in s:
    if a<0:
        break
    s1+=s[a]
    a-=1
print(a)
print(s1)

-1
handcipoG

In [21]:
x=lambda a : a%3==0 and a%5==0
def re(n):
    
    if n<50:
        if x(n):
            l.append(n)
        re(n+1)
    else:
        return l
l=[]
re(1)
print(l)

[15, 30, 45]

In [2]:
l=list(filter(lambda x : x%3==0 and x%5==0,range(1,50)))
print(l)

[15, 30, 45]

In [45]:
s  = ['applE', 'CaT', 'Dog', 'bAll', 'Mango', 'zEbra', 'grapes', 'TigEr']
l=[]
for i in s:
    l.append(i[0].lower())

l.sort()
l2=[]
for i in range(len(l)):
    for f in s:
        if f[0].lower()==l[i]:
            l2.append(f)

print(l2)

['applE', 'bAll', 'CaT', 'Dog', 'grapes', 'Mango', 'TigEr', 'zEbra']

In [40]:
SELECT * FROM EMPLOYEES
WHERE YEAR LIKE '%81';

SELECT * FROM EMPLOYEES
WHERE TO_CHAR(YEAR,YYYY)=1981;

1 CREATE
2 ALTER
3 DROP
4 TRUNCATE
5 RENAME

1 SELECT
2 FROM 
3 WHERE

1 INSERT
2 DELETE
3 UPDATE

SyntaxError: invalid syntax (1835560335.py, line 1)

In [4]:
s  = ['applE', 'CaT', 'Dog', 'bAll', 'Mango', 'zEbra', 'grapes', 'TigEr']
s.sort(key=str.lower)
print(s)

['applE', 'bAll', 'CaT', 'Dog', 'grapes', 'Mango', 'TigEr', 'zEbra']

In [5]:
s.sort(key=str.upper)
print(s)

['applE', 'bAll', 'CaT', 'Dog', 'grapes', 'Mango', 'TigEr', 'zEbra']

In [1]:
students = [{'name': 'Alice', 'age': 20},{'name': 'Bob', 'age': 18},{'name': 'Charlie', 'age': 22}]
    

# Finding the student with the highest age
oldest_student = max(students, key=lambda student: student['age'])
print(oldest_student)  # {'name': 'Charlie', 'age': 22}

{'name': 'Charlie', 'age': 22}

In [2]:
def m(x):
    def n():
        return x
    x-=2
    return n()
print(m(5))

3

In [7]:
d={'name':'madhu','age':26,'place':'local'}
d1={}
for k,v in d.items():
    d1[v]=k
print(d1)

{'madhu': 'name', 26: 'age', 'local': 'place'}

1
1024
59049
1048576

In [4]:
import pandas as pd

def lambda_handler():
    # Your data processing logic here
    # Create a sample DataFrame
    data = {'Name': ['John', 'Jane', 'Sam'],
            'Age': [30, 25, 35]}
    df = pd.DataFrame(data)
    
    # Set the index to be ignored
    df.reset_index(drop=True, inplace=True)
    
    # Return the DataFrame
    return df

lambda_handler()

   Name  Age
0  John   30
1  Jane   25
2   Sam   35

In [4]:
var=[1,2,3]
def sam():
    var[0]='cc'
    print(var)
sam()

['cc', 2, 3]

In [ ]:
l=[[1,2,3],[5,6,0],[8,9,7]]